@tailwind base;

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #2e2e2e #0f0f0f;
}

/* Chrome and Safari */
*::-webkit-scrollbar {
  scrollbar-width: none;
}

*::-webkit-scrollbar-track {
  background: #0f0f0f;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 14px;
  border: 3px solid #222;
}

@tailwind components;
@tailwind utilities;

body {
  background: #1c1c1c;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
